body {
    background-color:#ffffff;
    color: #666666;
    font-family:verdana, Arial, sans-serif;
}
header{
    background-color: #003058;
    color: #ffffff;
    font-family: georgia;
}
header h1{
    line-height: 140%;
    padding:.5rem;

}
nav{
    font-display: bold;
    background-color: #f3f3f3;

}
h2{
    color: #424242;
    font-family: georgia;

}
dt{
    font-weight:bold;
    color:#003058;
}
.ut{
    color:ba1c21;
    font-weight:bold;
}
footer{
    font-size:0.70rem;
    font-style:italic;
    text-align:center;
}
#wrapper{
    width:80%;
    margin-right:auto;
    margin-left:auto;
}