body {
    background-color:#ffffff;
    color: #666666;
    font-family:verdana, Arial, sans-serif;
}
header{
    background-color: #003058;
    color: #ffffff;
    font-family: georgia;
}
header h1{
    line-height: 140%;
    padding:.5rem;

}
nav{
    font-display: bold;
    background-color: #f3f3f3;

}
h2{
    color: #424242;
    font-family: georgia;

}
dt{
    font-display:bold;
    color:#003058;
}
.ut{
    color:ba1c21;
    font-display:bold;
}